
{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
		<style type="text/css">
		h1{
			margin-top: 50px;
			font-style: oblique;
			font-family: sans-serif;
		

		}
	</style>
	<script type="text/javascript">
	window.addEventListener('contextmenu', function (e) { 
  // do something here... 
  e.preventDefault(); 
}, false);
</script>
<title>
</title>
</head>
<body>
<center>
<h1> Contact Us</h1>
{% if msg %}
<b style="color: red;">{{msg}}</b>
{% endif %}
<form name="contact" method="post" action="{% url 'contact' %}">
	{% csrf_token %}
	<table border="1px" bordercolor="grey" width="400px">
	<tr>
		<td><b>Name</td>
		<td><input type="text" name="name"></td>
	</tr>
	<br>
		<tr>
		<td><b>Email</td>
		<td><input type="text" name="email"></td>
	</tr>
	<br>
		<tr>
		<td><b>Mobile</td>
		<td><input type="text" name="mobile"></td>
	</tr>
	<br>
	<tr>
		<td><b>Remarks</td>
		<td><textarea rows="5" cols="22" name="remarks"></textarea></td>
	</tr>
	<br>
	<tr>
		<td colspan="2" align="center">
		<input type="submit" value="Submit" class="btn btn-primary">
	</tr>
	<br>
</table>	
</form>
</center>
<hr>
<h2>Recent Contacts</h2>
{% for i in contacts %}
<p>name:{{i.name}}</p>
<p>remarks:{{i.remarks}}</p>
{% endfor %}

</body>
</html>
{% endblock %}