{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>

<style type="text/css">
		h1{
			margin-top: 50px;
			font-style: oblique;
			font-family: sans-serif;
		}


	</style>


<title>
</title>
</head>
<body>
<center><h1> Login </h1></center>
{% if msg %}
<b style="color: red;">{{msg}}</b>
{% endif %}
<center>
	<div class="bg-img">
<form name="login" method="post" action="{% url 'login' %}" >
	{% csrf_token %}
	<table border="1px" bordercolor="grey">
	<tr>
		<td><b>Email</td>
		<td><input type="text" name="email" style="margin-bottom: 10px;" ></td>
	</tr>
	<br>
	<tr>
		<td><b>Password</td>
		<td><input type="password" name="password" style="margin-bottom: 10px;" ></td>
	</tr>
	<br>
	<tr>
		<td >
		<input type="submit" value="Login" class="btn btn-primary">
	</td>
	<td>
		<a href="{% url 'forgot_password' %}"><input type="button" value="Forgot password" class="btn btn-primary"></a>
	</td>
	</tr>
	<br>
	
</table>
</form>
</div>
</center>
</body>
</html>
{% endblock %}