{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<style type="text/css">
		h1{
			margin-top: 50px;
			font-style: oblique;
			font-family: sans-serif;
		</style>



<title>
</title>
</head>
<body>
<center><h1> <b>Reset New Password </h1></center>
{% if msg %}
<b style="color: red;">{{msg}}</b>
{% endif %}
<center>
<form name="new_password" method="post" action="{% url 'new_password' %}" >
	{% csrf_token %}
	<table border="1px" bordercolor="grey">

	<tr>
		<td>
			<input type="hidden" name="email" value="{{email}}">
		</td>
	</tr>
	
	<tr>
		<td><b>New Password</td>
		<td><input type="password" name="new_password" style="margin-bottom: 10px;" ></td>
	</tr>
	<br>
	<tr>
		<td><b> Confirm New Password</td>
		<td><input type="password" name="cnew_password" style="margin-bottom: 10px;" ></td>
	</tr>
	<br>
	<tr>
		<td colspan="2" align="center">
		<input type="submit" value="Update Password" class="btn btn-primary">
	</tr>
	<br>
	
</table>
</form>
</center>
</body>
</html>
{% endblock %}