{% extends 'header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% block javascript %}
  <script>
    $("#id_username").change(function () {
      var form = $(this).closest("form");
      $.ajax({
        url: form.attr("data-validate-username-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
          }
          else{
            alert("username is avilable");
          }
        }
      });

    });
  </script>
{% endblock %}
	<style type="text/css">
		h1{
			margin-top: 50px;
			font-style: oblique;
			font-family: sans-serif;
		}
		
	</style>
<title>
</title>
</head>
<body>

<center>
<h1> Sign Up</h1>
{% if msg %}
<b style="color: red;">{{msg}}</b>
{% endif %}
<form name="signup" method="post" action="{% url 'signup' %}">
	{% csrf_token %}
	<table border="1px" bordercolor="black"  width="700px" height="500px" >
	<tr>
		<td><b>Usertype</td>
		<td>
			<input type="radio" name="usertype" value="user"><b>User
			<input type="radio" name="usertype" value="seller" style="margin-left: 50px;"><b>Seller
		</td>
	</tr>
	<br>
	<tr>
		<td><b>First Name</td>
		<td><input type="text" name="fname" required="required" style="margin-bottom: 10px;"></td>
	</tr>
	<br>
	<tr>
		<td><b>Last Name</td>
		<td><input type="text" name="lname" required="required" style="margin-bottom: 10px;"></td>
	</tr>
	<br>
		<tr>
		<td><b>Email</td>
		<td><input type="text" name="email" required="required" id="id_username" style="margin-bottom: 10px;"></td>
	</tr>
	<br>
		<tr>
		<td><b>Mobile</td>
		<td><input type="text" name="mobile" required="required" style="margin-bottom: 10px;"></td>
	</tr>
	<br>
	<tr>
		<td><b>Password</td>
		<td><input type="password" name="password"required="required" style="margin-bottom: 10px;"></td>
	</tr>
	<br>
	<tr>
		<td><b>Confirm password</td>
		<td><input type="password" name="cpassword" required="required" style="margin-bottom: 10px;"></td>
	</tr>
	<br>
	<tr>
		<td colspan="2" align="center">
		<input type="submit" value="signup" class="btn btn-primary">
	</tr>
	<br>
</table>	
</form>
</center>
</body>
</html>
{% endblock %}